<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jp.dataxeed.pm.mapper.CategoryMapper">
        <resultMap id="CategoryResultMap" type="com.jp.dataxeed.pm.entity.CategoryEntity">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="deleteFlag" column="delete_flag"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedAt" column="updated_at"/>
        </resultMap>

        <!--全取得-->
        <select id="findAll" resultMap="CategoryResultMap">
            SELECT * FROM categories
        </select>

        <!--単体取得ById-->
        <select id="findById" parameterType="int" resultMap="CategoryResultMap">
            SELECT * FROM categories WHERE id = #{id}
        </select> 

        <!--保存　新規登録insert  (idの有無でinsert/update切り分け)-->
        <insert id="insertToSave" parameterType="com.jp.dataxeed.pm.entity.CategoryEntity" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO categories (name, created_at, updated_at)
            VALUES (#{name}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
        </insert>

        <!--保存　更新update  (idの有無でinsert/update切り分け)-->
        <update id="updateToSave" parameterType="com.jp.dataxeed.pm.entity.CategoryEntity">
            UPDATE categories SET name = #{name},
                                  updated_at = CURRENT_TIMESTAMP
                              WHERE id = #{id}
        </update>
                                  
        
        <!--理論削除-->
        <update id="deleteCategory" parameterType="int">
            UPDATE categories SET delete_flag = true,
                                  updated_at = CURRENT_TIMESTAMP
                              WHERE id = #{id}
        </update>


        <!--検索-->
        <select id="searchCategory" parameterType="com.jp.dataxeed.pm.form.category.SearchCategoryForm" resultMap="CategoryResultMap">
            SELECT * FROM categories WHERE delete_flag = false
                <if test="id != null">
                    AND id = #{id}
                </if>
                <if test="name != null and name != ''">
                    AND name LIKE CONCAT('%', #{name}, '%')
                </if>
                
                <!--登録日-->
                <if test="createdAtFrom != null">
                    AND created_at &gt; = #{createdAtFrom}
                </if>
                <if test="createdAtTo != null">
                    AND created_at &lt; = #{createdAtTo}
                </if>

                <!--更新日-->
                <if test="updatedAtFrom != null">
                    AND updated_at &gt; = #{updatedAtFrom}
                </if>
                <if test="updatedAtTo != null">
                    AND updated_at &lt; = #{updatedAtTo}
                </if>
            ORDER BY created_at DESC
        </select>
</mapper>